.vscode
.venv
*/__pycache__
*.fa
genome/RefSeq_genome_from_KBase/*.gff
genome/RefSeq_genome_from_KBase/KBase_object_details_hgsco_narrative_1741199302047_Alteromonas_macleodii_v1.json
genome/RefSeq_genome/GCF_001077695.1_ASM107769v1_protein.faa
genome/RefSeq_genome/GCF_001077695.1_ASM107769v1_protein.gpff
Pangenome from Michelle/*
reac_xref.tsv
test/test_files/media/~$M_July22(Zac's Marine Broth Medium).docx
env/*
~$*
bigg_rxn_db.tsv
BLAST/dbs/*
simulations/CAFBA/results/json_fluxes/*
.claude